{% extends 'appomatic_siteinfo/models/BaseModel/page.html' %}
{% load endless %}

{% block properties %}
  {{block.super}}
  <tr><th>Aliases</th><td>
    {% for alias in obj.aliases.all %}
      {{alias.name}},
    {% endfor %}
  </td></tr>
{% endblock %}

{% block content_title_content %}
  {{block.super}}
  {{obj.name}}
{% endblock %}

{% block content %}
  {{block.super}}

  <h2>Chemicals</h2>
  {% paginate 10 obj.chemicals.all as paginated_chemicals %}
  <div class="excerpts">
    {% for chemical in paginated_chemicals %}
      {{ chemical.render_as.excerpt|safe }}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>


  <h2>Events</h2>
  {% paginate 10 obj.events.all as paginated_events %}
  <div class="excerpts">
    {% for event in paginated_events %}
      {{ event.event.render_as.excerpt|safe }}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>
 
{% endblock %}
