{% extends 'base.html' %}

{% block meta %}
  <link rel="stylesheet/less" type="text/css" href="{{STATIC_URL}}appomatic_alerts/styles.less" />
{% endblock %}

{% block content_title %}<h1>SkyTruth Alerts</h1>{% endblock %}

{% block menu %}
  <div class="main_menu">
    {% block main_menu %}
      <a href="{% url 'appomatic_alerts.views.index' %}">Alerts</a>
      <a href="{% url 'appomatic_alerts.views.subscribe' %}">Subscribe</a>
      <a href="{% url 'appomatic_alerts.views.about' %}">About</a>
      <a href="{% url 'appomatic_alerts.views.api' %}">Api</a>
      <a href="{% url 'appomatic_alerts.views.support' %}">Support</a>
    {% endblock %}
  </div>
  <div class="super_menu">
    <a href="http://skytruth.org/contact.htm">CONTACT US</a> |
    <a href="http://skytruth.org/legal.htm">LEGAL</a> |
    <a href="http://skytruth.org/sitemap.htm">SITEMAP</a>
  </div>
{% endblock %}
