{% extends 'appomatic_siteinfo/base.html' %}
{% load endless %}

{% block body_class %}{{obj.types}}{% endblock %}

{% block boxes %}
  {% if request.user.is_staff %}
    <div class="infobox">
      <a href="{{obj.get_admin_url}}"><i class="icon-edit"></i> Edit</a>
    </div>
  {% endif %}
  {{block.super}}
{% endblock %}

{% block content_title %}
  <h1>{{ obj.datetime }} @ {{obj.longitude}}E {{obj.latitude}}N</h1>
{% endblock %}

{% block content %}
  <table>
    <tr><th>Latitude</th><td>{{obj.latitude}}</td></tr>
    <tr><th>Longitude</th><td>{{obj.longitude}}</td></tr>
    {% block properties %}{% endblock %}
  </table>
{% endblock %}
