{% extends 'appomatic_siteinfo/models/Event/page.html' %}

{% block content_outer %}
  <div id="map-canvas" class="map"></div>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAPS_KEY}}&sensor=false&libraries=visualization">
  </script>
  <script type="text/javascript">
    function initialize() {
      var map = new google.maps.Map(document.getElementById("map-canvas"), {
        center: new google.maps.LatLng({{obj.latitude}}, {{obj.longitude}}),
        zoom: 4,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var layer = new google.maps.visualization.MapsEngineLayer({
        layerId: '{{settings.SITEINFO_GOOGLE_MAPSENGINE_LAYER}}',
        map: map,
        suppressInfoWindows: true
      });

      {% if obj.well %}
        var position = new google.maps.LatLng({{obj.well.latitude}}, {{obj.well.longitude}});
      {% else %}
        var position = new google.maps.LatLng({{obj.site.latitude}}, {{obj.site.longitude}});
      {% endif %}
      var marker = new google.maps.Marker({
        position: position,
        icon: {path: google.maps.SymbolPath.CIRCLE, fillColor: "#dd8888", fillOpacity: 1, strokeColor: "#000000", strokeWeight: 1, scale: 4},
        map: map,
        title:"{{obj}}"
      });

      google.maps.event.addListener(layer, "click", function (e) {
        window.location = '{{site_url}}/siteinfo/' + e.infoWindowHtml;
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div class="objinfo">
    {{block.super}}
  </div>
{% endblock %}

{% block properties %}
  {{block.super}}
  <tr><th>Site</th><td>{{obj.site.render_as.link|safe}}</a></td></tr>
  {% if obj.well %}
    <tr><th>Well</th><td>{{obj.well.render_as.link|safe}}</td></tr>
  {% endif %}
{% endblock %}
