{% load endless %}
{% paginate 10 obj.operates_at_wells.all using "operates_wells" as paginated_wells %}
<table class="table table-striped table-bordered table-condesed">
  <thead><tr><th>API</th><th>Latitude</th><th>Longitude</th></tr></thead>
  <tbody>
    {% for well in paginated_wells %}
      <tr>
        <td><a href="{{well.get_absolute_url}}">{{well.api}}</td>
        <td><a href="{{well.get_absolute_url}}">{{well.latitude}}</td>
        <td><a href="{{well.get_absolute_url}}">{{well.longitude}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">{% show_pages %}</div>
