{% extends 'appomatic_siteinfo/models/BaseModel/page.html' %}
{% load endless %}

{% block content_title_content %}
  {{block.super}}
  {{obj.name}}
{% endblock %}

{% block properties %}
  <tr><th>Aliases</th><td>
    {% for alias in obj.aliases.all %}
      {{alias.name}},
    {% endfor %}
  </td></tr>
{% endblock %}

{% block content_outer %}
  <div id="map-canvas" class="map"></div>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key={{settings.GOOGLE_MAPS_KEY}}&sensor=false&libraries=visualization">
  </script>
  <script type="text/javascript">
    function initialize() {
      {% for site in obj.operates_at_sites.all %}
        {% if forloop.first %}
          bounds = new google.maps.LatLngBounds(new google.maps.LatLng({{site.latitude}}, {{site.longitude}}), new google.maps.LatLng({{site.latitude}}, {{site.longitude}}));
        {% else %}
          bounds = bounds.extend(new google.maps.LatLng({{site.latitude}}, {{site.longitude}}));
        {% endif %}
      {% endfor %}
      {% for site in obj.supplied_sites.all %}
        {% if forloop.first and not obj.operates_at_sites.all %}
          bounds = new google.maps.LatLngBounds(new google.maps.LatLng({{site.latitude}}, {{site.longitude}}), new google.maps.LatLng({{site.latitude}}, {{site.longitude}}));
        {% else %}
          bounds = bounds.extend(new google.maps.LatLng({{site.latitude}}, {{site.longitude}}));
        {% endif %}
      {% endfor %}

      var map = new google.maps.Map(document.getElementById("map-canvas"), {
        zoom: 4,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      map.fitBounds(bounds);
      var layer = new google.maps.visualization.MapsEngineLayer({
        layerId: '{{settings.SITEINFO_GOOGLE_MAPSENGINE_LAYER}}',
        map: map,
        suppressInfoWindows: true
      });

      var icon = {path: google.maps.SymbolPath.CIRCLE, fillColor: "#dd8888", fillOpacity: 1, strokeColor: "#000000", strokeWeight: 1, scale: 4};
      {% for site in obj.operates_at_sites.all %}
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng({{site.latitude}}, {{site.longitude}}),
          icon: icon,
          map: map,
          title:"{{site}}"
        });
        google.maps.event.addListener(marker, "click", function (e) {
          window.location = '{{site_url}}/siteinfo/{{site.guuid}}';
        });
      {% endfor %}
      {% for site in obj.supplied_sites.all %}
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng({{site.latitude}}, {{site.longitude}}),
          icon: icon,
          map: map,
          title:"{{site}}"
        });
        google.maps.event.addListener(marker, "click", function (e) {
          window.location = '{{site_url}}/siteinfo/{{site.guuid}}';
        });
      {% endfor %}

      google.maps.event.addListener(layer, "click", function (e) {
        window.location = '{{site_url}}/siteinfo/' + e.infoWindowHtml;
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div class="objinfo">
    {{block.super}}
  </div>
{% endblock %}


{% block content %}
  {{block.super}}

  {% if obj.supplies.all %}
    <h2>Supplied these chemicals</h2>
    <div class="endless_page_template">
      {{obj.render_as.supplied_chemicals__html|safe}}
    </div>
  {% endif %}

  {% if obj.supplied_sites.all %}
    <h2>Supplied chemicals to these sites</h2>
    <div class="endless_page_template">
      {{obj.render_as.supplied_sites__html|safe}}
    </div>
  {% endif %}

  {% if obj.operates_at_sites.all %}
    <h2>Operates these sites</h2>
    <div class="endless_page_template">
      {{obj.render_as.operates_sites__html|safe}}
    </div>
  {% endif %}

  {% if obj.supplied_wells.all %}
    <h2>Supplied chemicals to these wells</h2>
    <div class="endless_page_template">
      {{obj.render_as.supplied_wells__html|safe}}
    </div>
  {% endif %}

  {% if obj.operates_at_wells.all %}
    <h2>Operates these wells</h2>
    <div class="endless_page_template">
      {{obj.render_as.operates_wells__html|safe}}
    </div>
  {% endif %}

  {% if obj.supplied_event.all %}
    <h2>Supplied chemicals to these events</h2>
    <div class="endless_page_template">
      {{obj.render_as.supplied_events__html|safe}}
    </div>
  {% endif %}

  {% if obj.events.all %}
    <h2>Responsible for these events</h2>
    <div class="endless_page_template">
      {{obj.render_as.responsible_for_events__html|safe}}
    </div>
  {% endif %}

{% endblock %}
