{% load endless %}
{% paginate 10 obj.supplies.all using "chemicals" as paginated_chemicals %}
<table class="table table-striped table-bordered table-condesed">
  <thead><tr><th>Trade name</th><th>Ingredients</th><th>CAS type</th><th>CAS number</th><th>Purposes</th></thead>
  <tbody>
    {% for chemical in paginated_chemicals %}
      <tr>
        <td><a href="{{chemical.get_absolute_url}}">{{chemical.trade_name}}</td>
        <td><a href="{{chemical.get_absolute_url}}">{{chemical.ingredients}}</td>
        <td><a href="{{chemical.get_absolute_url}}">{{chemical.cas_type}}</td>
        <td><a href="{{chemical.get_absolute_url}}">{{chemical.cas_number}}</td>
        <td>
          {% for purpose in chemical.purposes.all %}
            {{purpose.render_as.link|safe}}
          {% endfor %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="pagination">{% show_pages %}</div>
