{% extends 'appomatic_siteinfo/base.html' %}
{% load endless %}

{% block body_class %}{{obj.types}}{% endblock %}

{% block boxes %}
  {% if request.user.is_staff %}
    <div class="infobox">
      <a href="{{obj.get_admin_url}}"><i class="icon-edit"></i> Edit</a>
    </div>
  {% endif %}
  {{block.super}}
{% endblock %}

{% block content_title %}
  <h1><a href="{{obj.site.get_absolute_url}}">{{obj.site.name}}</a> / {{obj.api}}</h1>
{% endblock %}

{% block content %}
  <table>
    <tr><th>API</th><td>{{obj.api}}</td></tr>
    <tr><th>Latitude</th><td>{{obj.latitude}}</td></tr>
    <tr><th>Longitude</th><td>{{obj.longitude}}</td></tr>
    <tr><th>Site</th><td><a href="{{obj.site.get_absolute_url}}">{{obj.site.name}}</a></td></tr>
  </table>

  <form method="post" class="uniForm">
   {% csrf_token %}
   <input type="hidden" name="method" value="comment">
   {{comment_form.content}}
   <button type="submit" name="submit" class="comment_button">Comment</button>
  </form>

  <h2>Events</h2>

  {% paginate 10 obj.events.all as paginated_events %}
  <div class="excerpts">
    {% for event in paginated_events %}
      {{ event.render_as.excerpt|safe }}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>
 
{% endblock %}
