{% extends 'appomatic_siteinfo/models/LocationData/page.html' %}
{% load endless %}

{% block content_title %}
  <h1>{{obj.site.render_as.link|safe}} / {{obj.api}}</h1>
{% endblock %}

{% block properties %}
  {{block.super}}
  <tr><th>API</th><td>{{obj.api}}</td></tr>
  <tr><th>Site</th><td>{{obj.site.render_as.link|safe}}</a></td></tr>
  <tr><th>Operators</th><td>
    {% for operator in obj.operators.all %}
      {{operator.render_as.link|safe}},
    {% endfor %}
  </td></tr>
{% endblock %}


{% block content %}
  {{block.super}}

  <form method="post" class="uniForm">
   {% csrf_token %}
   <input type="hidden" name="method" value="comment">
   {{comment_form.content}}
   <button type="submit" name="submit" class="comment_button">Comment</button>
  </form>

  <h2>Events</h2>

  {% paginate 10 obj.events.all as paginated_events %}
  <div class="excerpts">
    {% for event in paginated_events %}
      {{ event.render_as.excerpt|safe }}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>
 
{% endblock %}
