{% extends 'appomatic_siteinfo/models/LocationData/page.html' %}
{% load endless %}

{% block content_title_content %}
  {{block.super}}
  {{obj.site.render_as.link|safe}} / {{obj.api}}
{% endblock %}

{% block properties %}
  {{block.super}}
  <tr><th>API</th><td>{{obj.api}}</td></tr>
  <tr><th>Site</th><td>{{obj.site.render_as.link|safe}}</a></td></tr>
  <tr><th>Operators</th><td>
    {% for operator in obj.operators.all %}
      {{operator.render_as.link|safe}},
    {% endfor %}
  </td></tr>
{% endblock %}


{% block content %}
  <iframe class="minimap" src="{% url 'appomatic_mapserver.views.application' application='appomatic_siteinfo.models.SiteInfoMap' %}?minimap=true&well={{obj.guuid}}"></iframe>

  {{block.super}}

  <form method="post" class="uniForm">
   {% csrf_token %}
   <input type="hidden" name="method" value="comment">
   {{comment_form.content}}
   <button type="submit" name="submit" class="comment_button btn btn-primary">Comment</button>
  </form>

  <h2>Events</h2>
  <div class="endless_page_template">
    {{obj.render_as.events__html|safe}}
  </div>
 
{% endblock %}
