#eventlist {
  overflow-y: auto;
  overflow-x: hidden;
}

#eventlist img {
  max-width: 16px;
  max-height: 16px;
  margin-left: -20px;
  float: left;
}

#eventlist .item {
  font-size: 10pt;
  padding-left: 20px;
}

#eventlist a {
  text-decoration: none;
}

#eventlist a:hover {
  text-decoration: underline;
}

#time-slider-label-min {
  position: absolute;
  left: 2pt;
  top: 4pt;
}

#time-slider-label-max {
  position: absolute;
  right: 2pt;
  top: 4pt;
}



#time-slider {
  position: absolute;
  left: 9em;
  right: 9em;
  top: 4pt;
}

#eventlist {
  position: absolute;
  left: 0;
  top: 2em;
  width: 20em;
  bottom: 0;
}

#map {
  position: absolute;
  left: 20em;
  top: 2em;
  right: 0;
  bottom: 0;
}

.MapServerControlMenu {
  position: absolute;
  top: 2px;
  right: 0;
  width: 20em;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  font-size: smaller;
  color: white;
  background-color: transparent;
}

.MapServerControlMenu .content {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color: darkBlue;
  font-family: sans-serif;
  font-weight: bold;
  font-size: smaller;
  color: white;
}

.MapServerControlMenu .maximizeDiv,
.MapServerControlMenu .minimizeDiv {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  right: 0;
  cursor: pointer;
}



.MapServerControlGeoCode {
  position: absolute;
  top: 48px;
  right: 0;
  width: 20em;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  font-size: smaller;
  color: white;
  background-color: transparent;
}

.MapServerControlGeoCode .content {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color: darkBlue;
  font-family: sans-serif;
  font-weight: bold;
  font-size: smaller;
  color: white;
}

.MapServerControlGeoCode .maximizeDiv,
.MapServerControlGeoCode .minimizeDiv {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  right: 0;
  cursor: pointer;
}
