{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Clusters</title>

    <link rel="stylesheet" href="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />

    <script src="{% get_static_prefix %}appomatic_mapserver/libs/async.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/date.format.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/mustache/mustache.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/OpenLayers-2.12/OpenLayers.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/js/jquery-1.9.0.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script>
      $(function() {
        $(".datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
        $(".expandable .body").hide();
        $(".expandable .expander").click(function () {
          $(this).parent().find(".body").toggle();
        });
      });
    </script>
  </head>
  <body>
    {% for query in queries %}
      <div class="expandable">
        <div class="expander">{{query.name}}</div>
        <div class="body">
          <form action="{% url 'appomatic_mapcluster.views.cluster' name=query.slug %}" method="GET"> 
            <p>Start date: <input type="text" name="startdate" class="datepicker" /></p>
            <p>End date: <input type="text" name="enddate" class="datepicker" /></p>
            <p>Format:
              <select name="format">
                <option value="kml">KML</option>
                <option value="csv">CSV</option>
                <option value="csv_reports">CSV - individual detections</option>
              </select>
            </p>
            <input type="submit" value="Get it">
          </form>
          <p>{{query.description}}</p>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
