{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>OpenLayers Basic OSM Example</title>

    <link rel="stylesheet" href="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />
    <link rel="stylesheet" href="{% get_static_prefix %}appomatic_mapserver/mapserver.css" />

    <script src="{% get_static_prefix %}appomatic_mapserver/libs/async.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/date.format.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/mustache/mustache.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/OpenLayers-2.12/OpenLayers.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/js/jquery-1.9.0.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="{% get_static_prefix %}appomatic_mapserver/mapserver.js"></script>

    <script type="text/javascript">
      $(function () {
        MapServer.apiurl = "{% url 'appomatic_mapserver.views.mapserver' %}";
        MapServer.exportkmlurl = "{% url 'appomatic_mapexport.views.kmlformat' %}";
        MapServer.exportcsvurl = "{% url 'appomatic_mapexport.views.csvformat' %}";
        MapServer.fileurl = document.location.protocol + "//" + document.location.host + "{{ MEDIA_URL }}";
        MapServer.init();
      });
    </script>


  </head>
  <body>
    <div id="time-slider-label-min"></div>
    <div id="time-slider"></div>
    <div id="time-slider-label-max"></div>
    <div id="map"></div>
  </body>
</html>
