{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load url from future %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  {{ media.css }}

  <link rel="stylesheet" href="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />

  <script src="{% get_static_prefix %}appomatic_mapserver/libs/async.js"></script>
  <script src="{% get_static_prefix %}appomatic_mapserver/libs/date.format.js"></script>
  <script src="{% get_static_prefix %}appomatic_mapserver/libs/mustache/mustache.js"></script>
  <script src="{% get_static_prefix %}appomatic_mapserver/libs/OpenLayers-2.12/OpenLayers.js"></script>
  <script src="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/js/jquery-1.9.0.js"></script>
  <script src="{% get_static_prefix %}appomatic_mapserver/libs/jquery-ui-1.10.0/js/jquery-ui-1.10.0.custom.min.js"></script>
  <script>
    $(function() {
      $(".datepicker" ).datepicker({dateFormat: "yy-mm-dd"});
      $(".expandable .body").hide();
      $(".expandable .expander").click(function () {
        $(this).parent().find(".body").toggle();
      });
    });
  </script>
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="{% url 'admin:app_list' app_label="appomatic_mapserver" %}">
         {% trans "MapServer" %}
      </a>
      &rsaquo; 
      {% trans "View maps" %}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  {% for application in applications %}
    <div class="app-appomatic_mapcluster module expandable">
      <table style="width: 100%">
        <caption class="expander">{{application.name}}</caption>
        <tbody class="body">
          <tr>
            <th>
              View map: <a href="{% url 'appomatic_mapserver.views.application' application=application.slug %}">{{application.name}}</a><br>
              <form action="{% url 'appomatic_mapserver.views.mapserver' application=application.slug %}" method="GET"> 
                <input type="hidden" name="tolerance" value="minimal" />
                <input type="hidden" name="bbox" value="{{application.configuration.bbox}}" />
                <p>Start date: <input type="text" name="datetime__gte" class="datepicker" /></p>
                <p>End date: <input type="text" name="datetime_lte" class="datepicker" /></p>
                <p>Format:
                  <select name="format">
                    <option value="appomatic_mapserver.maprenderers.MapRendererKml">KML</option>
                  </select>
                </p>
                <input type="submit" value="Get it">
              </form>
            </th>
          </tr>           
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}
