{% extends 'appomatic_siteinfo/models/BaseModel/page.html' %}
{% load endless %}

{% block content_title_content %}
  {{block.super}}
  {{obj.name}}
{% endblock %}

{% block content %}
  {{block.super}}

  <h2>Chemicals</h2>
  {% paginate 10 obj.supplies.all as paginated_chemicals %}
  <div class="excerpts">
    {% for chemical in paginated_chemicals %}
      {{ chemical.render_as.excerpt|safe }}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>


  <h2>Events</h2>
  {% paginate 10 obj.supplied_event.all as paginated_events %}
  <div class="excerpts">
    {% for event in paginated_events %}
      {{ event.event.render_as.excerpt|safe }}
    {% endfor %}
  </div>
  <div class="pagination">{% show_pages %}</div>
 
{% endblock %}
